.card{
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    background-color: white;
}
.card-text{
    text-align: center;
    align-content:center ;
    margin: 0 3rem;
}
img{
    margin-top: 5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
button{
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 5px 15px;
    border-color: #E5E4E2;
    background-color: white;
    color: purple;
    border-style: solid;
    font-weight: bolder;
}
.editBtn{
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 5px 15px;
    border-color: #E5E4E2;
    background-color: white;
    color: purple;
    border-style: solid;
    font-weight: bolder;
}
button:hover{
    border-color: purple;
    padding: 6px 16px;
}
p{
    color: #636363;
    font-weight: bolder;
}